
.wrapper {
}

.card {

}

.homescreen {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}
.cardtablescreen {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 100vh;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}
.cardtablescreen2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	/*min-height: 100vh;*/
	width: 100%;
  height: 100%;
	/*height: 100vh;*/
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}
.invalidUnclickableLevelBidButton {
	background-color:#9ea5a5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:default;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.invalidUnclickableLevelBidButton2 {
	background-color:#9ea5a5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:default;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.clickableLevelBidButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.clickableLevelBidButton:hover {
	background-color:#5cbf2a;
}
.clickableLevelBidButton:active {
	position:relative;
	top:1px;
}
.clickableLevelBidButton2 {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.clickableLevelBidButton2:hover {
	background-color:#5cbf2a;
}
.clickableLevelBidButton2:active {
	position:relative;
	top:1px;
}
.clickablePassBidButton {
	background-color:#3fd5ce;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.clickablePassBidButton:hover {
	background-color:#3dc8c1;
}
.clickablePassBidButton:active {
	position:relative;
	top:1px;
}
.unclickablePassBidButton {
	background-color:#9ea5a5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:default;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.invalidUnclickableDblButton {
	background-color:#9ea5a5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:default;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.clickableDblButton {
	background-color:#d53812;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.clickableDblButton:hover {
	background-color:#eb532e;
}
.clickableDblButton:active {
	position:relative;
	top:1px;
}
.clickableHomeButton {
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
}
.homescreenTitleFont {
	color:#ffffff;
	text-align:center;
  font-family: 'Indie Flower', cursive;
	font-size:84px;
}
.loginscreenTitleFont {
	color:#000000;
	text-align:center;
  font-family: 'Indie Flower', cursive;
	font-size:84px;
}
.gameTitleBarFont {
	color:#000000;
	text-align:center;
	font-family:'Indie Flower', cursive;
	font-size:32px;
}
.clickableMyAccountButton {
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
}
.clickableStartPlayingButton {
  -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    box-shadow: 2px 2px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 25px;
    cursor:pointer;
    background: #ffe4c4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.clickableStartPlayingButton:hover {
  background: #d14efc;
  text-decoration: none;
}
.clickableGoToStoreButton {
  -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    box-shadow: 2px 2px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 25px;
    cursor:pointer;
    background: #ffe4c4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.clickableGoToStoreButton:hover {
  background: #d14efc;
  text-decoration: none;
}

.clickablePurchaseItemButton {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  box-shadow: 2px 2px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 18px;
  cursor:pointer;
  background: #ffe4c4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.unclickablePurchaseItemButton {
	background-color:#9ea5a5;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  box-shadow: 2px 2px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
